@font-face {
    font-family: YoungSerif;
    src: url(font/YoungSerif-Regular.woff2);
}


.hidden {
  display: none;
}


h1, h2 {
  font-family: YoungSerif;
}

h1 {
  font-size: 3rem
}


aside {
  height: 100vh;
}

aside ul li{
  /*font-family: YoungSerif;*/
  text-align: center;
  font-size: 2rem;
  line-height: 25vh;
}
table{
  margin-top: 30%
}
